PORT=8080
NODE_ENV=development
LOG_LEVEL=debug
LOG_PRETTY=true

DB_HOST=localhost
DB_PORT=5433
DB_NAME=rhm
DB_SCHEMA=employees
DB_USER=employees_service
DB_PASSWORD=change_employees_password
DB_SSL=false
DB_POOL_MAX=10
